body {
    background-color: beige;
}

.app {
    margin: 150px;
    padding: 40px;
    background-color: gainsboro;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
}
label{
    display: inline-block; width: 640px;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.todo_wrapper{
    background-color: white;
}
.todo_container {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: flex-start;
    justify-content: space-between;
}

.todo {
    align-self: center;
    justify-content: space-between;
    align-content: space-between;
    font-size: 25px
}
.todo .editMode label {
    display: none;
}

input[type=text] {
    width: 400px;
    padding: 7px;
    margin-bottom: 5px;
}
.editInput{
    max-width: 300px;
}



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button_add {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

.button_add:hover {
    background-color: #4CAF50;
    color: white;
}


.button_remove {
    background-color: white;
    color: black;
    border: 2px solid red;
    border-radius: 5px;
}

.button_remove:hover {
    background-color: red;
    color: white;
}

.button_edit {
    background-color: white;
    color: black;
    border: 2px solid blue;
    border-radius: 5px;
}

.button_edit:hover {
    background-color: blue;
    color: white;
}



